# MongoDB
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=gridwise_mvp

# API
API_V1_PREFIX=/api/v1
PROJECT_NAME=GridWise API
VERSION=0.1.0

# CORS
BACKEND_CORS_ORIGINS=["http://localhost:5173","http://localhost:3000"]
